@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./partials/global.css');
@import url('partials/variables.css');


body {
    font-family: var(--roboto);
}


/*header*/

.main-header .main-menue .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.main-header .main-menue .navbar {
    padding: 1rem 20rem;
}


.main-header .main-menue .navbar .nav-item a {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.main-header .main-menue .navbar .active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.main-header .main-menue .navbar a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*banner*/

.site-main .site-banner {
  position: relative;
}

.site-main .site-banner::before {
  content: "";
  position: absolute;
  inset: 0; 
  background: url('../img/banner/home-banner.png') no-repeat 0% 50%;
  background-size: cover;
  z-index: -1; 
}

.site-main .site-banner .site-title h3 {
    font-size: 3rem;
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
    content: '';
    height: 2px;
    background-color: black;
    width: 18vw;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
   font-size: 1.5rem;
}


/*about area*/

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-img > img{
   width: 100%;
}

.site-main .about-area h2 span {
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph{
    padding: 1rem 0;
}

/*brand area*/

.site-main .brand-area {
    padding: 1rem 1rem;
    margin: 0 5rem;
}

.site-main .brand-area .first-row .col-lg-4 .single-brand{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    padding: 1.8rem 0rem;
    margin: 0.9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: 0.4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 75%;
}




.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--shadow-color);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding: 2rem 2rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url('../img/client-info-bg.png') no-repeat 45px 20px;
    padding: 4rem 0;
    width: 40rem;
    height: 25rem;
    padding-left: 12rem;
    position: relative;
}

.site-main .brand-area .experience-area::after{
    content: '';
    inset: 0; 
    width: 60%;
    left: 25%;
    background-color: #fdf2e5;
    position: absolute;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
   font: normal bold 84px/40px var(--roboto);
   color: var(--primary-color);
   z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
   font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
   padding-left: 18rem;
}

/*services*/

.site-main .services-area{
    padding: 7rem 20rem;
}

.site-main .services-area .services-title{
    padding :0 18rem;
}

.site-main .services-area .services-title > h1{
    font-size: 35px;
}

.site-main .services-area .services{
    background: rgba(248,252,253,0.973);
    padding: 2rem 0;
    width: 20rem;
    margin: 4rem 0rem;
    transition: 0.7 ease;
}

.site-main .services-area .services >  h5{
    font-size: 20px;
}


.site-main .services-area .services:hover{
    box-shadow: var(--shadow-color);
}


